@import "../../sass/fonts";
@import "../../sass/mixin";

.form {
    position: relative;
    display: flex;
    justify-content: center;

    width: 280px;
    height: 40px;
    margin: auto;
    margin-bottom: 40px;

    border-radius: 20px;

    @include mq(tab) {
        width: 608px;
        height: 44px;
        margin-bottom: 60px;

        border-radius: 40px;
    }
}

.input {
    width: 100%;
    padding: 9px 12px;

    border: none;
    border-radius: 20px;

    font-family: "Manrope SemiBold";
    font-size: 16px;
    line-height: 1.36;
    letter-spacing: 0.04em;

    color: var(--font-search-color);
    outline: none;

    box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
    background-color: var(--white);

    @include mq(tab) {
        padding: 10px 20px;
        border-radius: 40px;

        font-size: 20px;
        line-height: 1.35;

        text-shadow: none;
    }
}

.autocomplete__List {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;

    width: 100%;
    max-height: 200px;
    height: auto;
    margin: 0;
    padding: 0;

    overflow: auto;

    box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
    background-color: var(--white);
}

.autocomplete__Item {
    padding: 6px 10px;

    transition: all var(--transition);

    &:hover {
        background-color: var(--accent-color);
        cursor: pointer;
    }
}

.btn {
    position: absolute;
    top: 9px;
    right: 12px;

    width: 20px;
    height: 20px;

    border: none;
    border-radius: 50%;

    background-image: url('../../images/icons/search-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    
    background-color: var(--white);

    transition: all var(--transition);

    @include mq(tab) {
        top: 10px;

        width: 24px;
        height: 24px;
    }

    &:hover {
        cursor: pointer;
        -webkit-animation: none;
        -webkit-transform: scale(1.4);
        animation: none;
        transform: scale(1.4);
    }

    // &:focus {
    //     outline: 1px solid  var(--accent-color);
    //     transform: scale(1.4);
    // }
}