@import '../../sass/mixin';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 280px;
  max-height: 100%;
  border-radius: 20px;
  padding: 60px 20px 20px;
  background: var(--white);

  @include mq(tab) {
    width: 704px;
    border-radius: 40px;
    padding: 32px 20px;
  }
}

.btnClose {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  background-color: var(--bg-color);

  @include mq(tab) {
    width: 44px;
    height: 44px;
  }
}

.btnClose:hover {
  background-color: var(--accent-color);
}
.btnClose:hover .iconClose {
  fill: var(--white);
}

.descrBox {
  margin-bottom: 28px;

  @include mq(tab) {
    display: flex;
  }
}

.thumbImage {
  position: relative;
  width: 240px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include mq(tab) {
    width: 288px;
    height: 328px;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

.photo {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0px 0px 40px 40px;
}

.category {
  position: absolute;
  top: 20px;
  left: 0;
  width: 158px;
  font-family: 'Manrope Medium';
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--font-color);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 0 40px 40px 0;

  padding-top: 6px;
  padding-bottom: 6px;
}

.title {
  font-family: 'Manrope Bold';
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: -0.01em;
  color: var(--font-color);
  margin-bottom: 16px;

  @include mq(tab) {
    max-width: 321px;
    font-size: 28px;
    line-height: 1.36;
    margin-bottom: 20px;
  }
}

.containerDescr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockDescrTitle {
  margin-right: 50px;
}

.descr {
  font-family: 'Manrope Medium';
  font-size: 14px;
  line-height: 1.36;
  color: var(--font-color);

  @include mq(tab) {
    font-size: 16px;
    line-height: 1.37;
  }
}

.descr:not(:last-child) {
  margin-bottom: 8px;
}

.descrAccent {
  font-family: 'Manrope SemiBold';
  font-weight: 600;
}

.comments {
  font-family: 'Manrope Medium';
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  color: var(--font-color);
  margin-bottom: 40px;

  @include mq(tab) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
  }
}

.commentsDescr {
  composes: comments;
  font-family: 'Manrope SemiBold';
}

.blockOfBtn {
  @include mq(tab) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: right;
  }
}

.btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Manrope Medium';
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: var(--font-color);
  background-color: var(--white);
  border: 2px solid var(--accent-color);
  border-radius: 40px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;

  @include mq(tab) {
    width: 160px;
  }
}

.btn:not(:last-child) {
  margin-bottom: 12px;
  @include mq(tab) {
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

.icon {
  fill: #f59256;
}

.btn:hover .icon {
  fill: #fff;
}
