@import "../../sass/fonts";
@import "../../sass/mixin";

.container {
    margin-right: -20px;
    margin-left: -20px;

    min-width: 100vw;
    min-height: 500px;

    background-image: url('../../images/bgs/woman-1x.png'), url('../../images/bgs/main-bg-mobile-2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

    @include mq(mob) {
        background-size: 320px 337px, contain;
    }
    
    @include mq(tab) {
        margin-right: -32px;
        margin-left: -32px;

        min-height: 1030px;

        background-image: url('../../images/bgs/woman-2x.png'), url('../../images/bgs/main-bg-tablet-2x.png');
        background-size: 699px 733px, contain;
    }
 
    @include mq(desk) {
        margin-right: -16px;
        margin-left: -16px;

        min-height: 660px;

        background-image: url('../../images/bgs/woman-3x.png'), url('../../images/bgs/main-bg-1x.png'), url('../../images/bgs-svg/main-bg-heart.svg');

        background-position: right bottom, center bottom, top 58px right 476px;
        background-size: 624px 655px, contain, auto;
    }
}

.title {
    width: 100%;
    height: 100%;
    padding-top: 16px;
    padding-left: 20px;
    margin: 0;

    font-family: 'Manrope Bold';
    font-size: 32px;
    line-height: 1.38;

    @include mq(mob) {
        width: 280px;;
    }

    @include mq(tab) {
        width: 588px;
        padding-top: 46px;
        padding-left: 32px;

        font-size: 68px;
        line-height: 1.47;
    }
}