@import 'modern-normalize/modern-normalize.css';
@import './sass/fonts';
@import './sass/variables';
@import './sass/mixin';

body {
  margin: 0;
  font-family: 'Manrope Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--font-color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* RESET */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// .modal{
//   overflow: hidden;
// }

.on {
  overflow: hidden;
}

