@import '../../sass/mixin';

.list {
  margin-top: 24px;

  @include mq(tab) {
  }

  @include mq(desk) {
  }
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--white);
  padding: 16px 20px;
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  border-radius: 40px;
  margin-bottom: 22px;

  @include mq(tab) {
    flex-direction: row;
    padding: 20px;
  }

  @include mq(desk) {
  }
}

.petFoto {
  width: 240px;
  height: 240px;
  border-radius: 40px;

  @include mq(tab) {
    width: 161px;
    height: 161px;
  }

  @include mq(desk) {
  }
  // background-color: var(--accent-color);
}

.cardDiscription {
  margin: 20px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mq(tab) {
    margin: 0px 0px 0px 32px;
  }

  @include mq(desk) {
  }
}

.btnDelete {
  position: absolute;

  top: 260px;
  right: 20px;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fdf7f2;
  border: 0;

  &:hover,
  &:focus {
    background: #ffb383;
  }

  @include mq(tab) {
    top: 20px;
  }

  @include mq(desk) {
  }
}

.iconDelete {
  fill: #111;
  opacity: 0.6;
  margin-top: 2px;
}

.categoryDiscription {
  margin-bottom: 12px;

  font-family: 'Manrope Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* Черный */

  color: #111111;

  @include mq(tab) {
    font-size: 16px;
    line-height: 22px;
  }

  @include mq(desk) {
  }
}

.categoryDiscription:last-child {
  margin-bottom: 0px;
}

.petBlock {
  display: flex;
  width: 850px;
  height: 212px;
  background: var(--bg-color);
  border-radius: 25px;
  margin-left: 55px;
  margin-bottom: 20px;
  padding-left: 15px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.photoPet {
  width: 157px;
  height: 157px;
  margin-top: 27.5px;
  margin-bottom: 27.5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.infoAboutPets {
  width: 600px;
  margin-left: 32px;
  margin-top: 20px;
}
.deletePetIco {
  // margin-top: -100px;
  width: 24px;
  height: 24px;
}
