.navigationWrapper {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.siteNav {
    padding: 8px 28px;
    font-family: 'Manrope Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.36;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: var(--font-color);
    background-color: var(--white);
    border: 2px solid var(--accent-color);
    border-radius: 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @media screen and (min-width: 768px) {
        padding: 10px 28px;
        font-size: 20px;
        line-height: 1.35;
    }
}

.activeSiteNav {
    color:var(--white);
    background-color: var(--accent-color);
}

.boxAddPet {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btnAddPet {
    position: fixed;
    top: 466px;
    right: calc(50% - 140px);
    z-index: 1;
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
    font-family: 'Manrope Medium';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--white);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @media screen and (min-width: 768px) {
        position: static;  
        width: 44px;
        height: 44px;
    }
}

.iconAddPet {
    width: 21px;
    height: 21px;

    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
    }
}

.textAddPet {
    font-family: 'Manrope Medium';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    color: var(--font-color);
}
