.navigationWrapper {
  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  @media screen and (min-width: 768px) {
    width: 500px;
  }

  @media screen and (min-width: 1280px) {
    width: 1000px;
  }
}

.siteNav {
  padding: 6px 26px;
  font-family: 'Manrope Medium';
  font-size: 14px;
  line-height: 1.36;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--font-color);
  background-color: var(--white);
  border: 2px solid var(--accent-color);
  border-radius: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media screen and (min-width: 768px) {
    padding: 8px 26px;
    font-size: 20px;
    line-height: 1.35;
  }
}

.activeSiteNav {
  color: var(--white);
  background-color: var(--accent-color);
}
