.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1200;
}

.modal {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}