@font-face {
    font-family: 'Manrope Bold';
    src: url('../fonts/Manrope-Bold.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Manrope Medium';
    src: url('../fonts/Manrope-Medium.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Manrope Regular';
    src: url('../fonts/Manrope-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Manrope SemiBold';
    src: url('../fonts/Manrope-SemiBold.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf');
    font-style: normal;
}