@import '../../sass/mixin';

.container {
  max-width: 100%;

  padding: 0 20px 100px;
  margin: 0 auto;

  @include mq(mob) {
    width: 480px;
  }

  @include mq(tab) {
    position: relative;
    width: 768px;
    padding: 0 32px 100px;
  }

  @include mq(desk) {
    width: 1280px;
    padding: 0 16px 200px;
  }
}
