.petsBlock {
  margin-top: 30px;
}
.petBlock {
  display: flex;
  width: 850px;
  height: 212px;
  background: var(--bg-color);
  border-radius: 25px;
  margin-left: 55px;
  margin-bottom: 20px;
  padding-left: 15px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.photoPet {
  width: 157px;
  height: 157px;
  margin-top: 27.5px;
  margin-bottom: 27.5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.infoAboutPets {
  width: 600px;
  margin-left: 32px;
  margin-top: 20px;
}
.deletePetIco {
  margin-top: -100px;
  width: 42px;
}
