@import '../../sass/mixin';

.error {
  height: 20px;
  text-align: left;
  font-size: 10px;
  line-height: 12px;
  color: var(--accent-color);
  letter-spacing: 0.04em;
  padding: 5px 15px;
}

.error--last {
  composes: error;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  background: var(--bg-color);
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  outline: none;
  padding: 9px 14px 10px;

  @include mq(tab) {
    font-size: 18px;
    line-height: 1.39;
    padding: 13px 32px 12px;
  }
}

.input::placeholder {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  color: var(--date-color);

  @include mq(tab) {
    font-size: 18px;
    line-height: 1.39;
  }
}

.button {
  display: block;
  width: 100%;
  font-family: 'Manrope Medium';
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.04em;

  color: var(--font-color);
  background-color: var(--white);
  border: 2px solid var(--accent-color);
  border-radius: 40px;
  cursor: pointer;

  padding-top: 6px;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.accent {
  background-color: var(--accent-color);
  color: var(--white);
}
