@import "../../sass/mixin";

.container {
    max-width: 100vw;
    min-height: calc(100vh - 117px);

    background-image: url('../../images/bgs/login-waves-mob-1x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

    @include mq(mob) {
      @include mq(retina) {
        background-image: url('../../images/bgs/login-waves-mob-2x.png');
      }
    }
    
    @include mq(tab) {
        min-height: calc(100vh - 144px);

        background-image: url('../../images/bgs/login-waves-tab-1x.png');

        @include mq(retina) {
            background-image: url('../../images/bgs/login-waves-tab-2x.png');
        }
    }

    @include mq(desk) {
        min-height: calc(100vh - 133px);
        
        background-image: url('../../images/bgs/login-waves-desk-1x.png');

        @include mq(retina) {
            background-image: url('../../images/bgs/login-waves-desk-2x.png');
        }
    }
}