@import '../../sass/mixin';

.pageWrapper {
  @include mq(tab) {
  }

  @include mq(desk) {
    display: flex;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.userWrapper {
  position: relative;
  padding: 20px 12px 86px;

  background-color: var(--white);

  /* Тень для карточек */
  // box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  border-radius: 20px;

  @include mq(tab) {
    padding: 24px 40px 24px 32px;

    border-radius: 0px 40px 40px 0px;
  }

  @include mq(desk) {
    display: flex;
    flex-direction: column;
    padding: 20px 16px 106px;
    width: 411px;
  }
}
