@import '../../sass/mixin';

.pageWrapper {
  @include mq(tab) {
  }

  @include mq(desk) {
    display: flex;
  }
}

.headerBlock {
  display: flex;
  font-size: 16px;
}
.myInfoHeader {
  width: 411px;
}
.myPetsHeader {
  width: 820px;
  margin-left: 55px;
  margin-right: 10px;
}
.addPetsIco {
  width: 32px;
  margin-left: 15px;
}
.mainContent {
  display: flex;
  align-items: stretch;
}
